[submodule "linux"]
	path = linux
	url = git@github.com:fusion-hxf/linux.git

[submodule "kernel-deb"]
	path = kernel-deb
	url = git@github.com:fusion-hxf/kernel-deb.git

[submodule "u-boot"]
	path = u-boot
	url = git@github.com:fusion-hxf/u-boot.git
